#root {
  max-width: 820px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portrait-img {
  border-radius: 50%;
  filter: drop-shadow(5px 10px 8px black);
  width:270px;
  height:270px;
}

.project-showcase {
  display: flex;
  flex-direction: column;
}